$htmlWidth: 100%
    
*
    box-sizing: border-box
    padding: 0
    margin: 0 auto
    outline: none

html, body
    width: $htmlWidth
    height: 100%

#app
    width: 100%
    height: 100%
    background: #14033D